.Home_image > img {
  width: 20%;
  border-radius: 30%;
}

.Home_header, 
.Home_description, 
.Home_image{
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.Home_button_container{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Home_button{
  width: 200px;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 30px;
  text-decoration: none;
  color: black;
}

/* .Home_button:hover {

} */